body {
  padding: 1rem;
}

.form-input {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 1rem;
}

fieldset .form-input {
  margin-bottom: 0.5rem;
}

fieldset .form-input:last-child {
  margin-bottom: 0;
}

.form-input label {
  display: inline-block;
  width: 90px;
}
